* {
    box-sizing: border-box;
}

#jumbo {
    background-color: lightskyblue;
    text-align: center;
}

.errorHide {
    display: none;
    margin-left: 10px;
}

.errorShow {
    color: red;
    margin-left: 10px;
}

#testButton {
    margin-left: 70%;
}


/* body {
    background-image: url("../images/background.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-size: 100% 100%;
} */